.table-table-hover{
    width:60%;
    background-color:  #aedf04;

}

.thumbnail-image {
  width: 50px;
   height: 50px;
   border-radius: 50%;
   object-fit: scale-down;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   -o-border-radius: 50%;
}

 #prdBtn{
    background: #303030;
    object-fit: scale-down;

 }

#btn:hover {
    background: #F5F5F5;
    color:	#303030;
    object-fit: scale-down;
  }


  #prdNm{
    background: #303030;
    object-fit: scale-down;
    /* width: 100px;
    height: 20px; */
  }
    /* margin-top:1%; */
    /* width: 100px;
    height: 40px; */
    /* font-family: 'New Tegomin', serif; */
    /* background: #c44308; */
    /* color: white; */
    /* font-size:12px; */
    /* margin-left:2%;
    text-align: center;

  }  */
  /* #prdNm:hover {
    background: white;
    color:#a73500;
    border: 1px solid  #c44308;
  } */

  /* #th{
    background: #303030;
    text-align: center;
    color:whitesmoke;
    font-family: 'Karla', sans-serif;
    padding:10px;
    font-size: 17px;
    border: 1px solid  #aedf04;
    border-top:1px solid  #aedf04;


  }

  #btn{
    background: #303030;
      color:#F5F5F5;
      border: 1px solid #aedf04;
      padding:1px;
      font-family: 'Karla', sans-serif;
  }
  button #btn{
    background: #303030;
      color:#F5F5F5;
      border: 1px solid #aedf04;
      padding:1px;
      font-family: 'Karla', sans-serif;
  } */


  #tdp{
      margin-top: 20%;
      text-align: center;
      font-family: 'New Tegomin', serif;
      color: #c44308;
      object-fit: scale-down;
  }

  #tp{
    margin-top: 20%;
    color: #c44308;
    object-fit: scale-down;
    font-family: 'New Tegomin', serif;
  }

  #pp{
    margin-top: 20%;
    color: #c44308;
    object-fit: scale-down;
    font-family: 'New Tegomin', serif;
  }

  #tdIn{
    width:60px;
    text-align: center;
    margin: 0 auto;
    padding: 2px;
    color: #c44308;
  }

  #updateButton {
    color: #c44308;
    font-family: 'New Tegomin', serif;
    font-weight:bold;
  }

  #adminTable{
    width: 75%;
    /* overflow-x: auto;  */
    margin-left: 10%;
    background:	#F5F5F5;
    text-align: center;

}
@media screen and (max-width:768px) {
  .tohide { display: none; }
}

#adminTable th {
  text-align: center;
}

#adminTable td {
  vertical-align:middle;
  /* margin: auto 0; */
  padding: 2px;
}

#adminTable p {
  margin: 0;
}

#th{
  background: #303030;
  color:whitesmoke;
  font-family: 'Karla', sans-serif;
  padding:10px;
  font-size: 17px;
  border: 1px solid  #aedf04;
  border-top:1px solid  #aedf04;


}

.adminBtn{
  background: #303030;
    color:#F5F5F5;
    border: none;
    padding:1px;
    margin: 0 auto;
    font-family: 'Karla', sans-serif;
}

#picCol {
  width: 100px;
  height: 100px;
  padding: 0.5em;
}