.table-table-hover{
  width:60%;
  background-color:  #aedf04;

}

.thumbnail-image {
  width: 50px;
   height: 50px;
   border-radius: 50%;
   object-fit: scale-down;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   -o-border-radius: 50%;
}

 #prdBtn{
    background: #303030;
    object-fit: scale-down;

}

#btn:hover {
    background: #F5F5F5;
    color:	#303030;
    object-fit: scale-down;
  }


  #prdNm{
    background: #303030;
    object-fit: scale-down;
  }



  #tdp{
      margin-top: 20%;
      text-align: center;
      font-family: 'New Tegomin', serif;
      color: #c44308;
      object-fit: scale-down;
  }

  #tp{
    margin-top: 20%;
    color: #c44308;
    object-fit: scale-down;
    font-family: 'New Tegomin', serif;
  }

  #pp{
    margin-top: 20%;
    color: #c44308;
    object-fit: scale-down;
    font-family: 'New Tegomin', serif;
  }


   




.tdIn{
  width:50%;
  text-align: right;
  margin: 0 auto;
  padding: 2px 10px;
}
@media screen and (max-width:768px) {
  .tohide { display: none; }
}

#adminTable{
  width: 80%;
  margin-left: 10%;
  background:	#F5F5F5;
  text-align: center;

}

#adminTable th {
text-align: center;
}

#adminTable td {
vertical-align:middle;
padding: 2px;
}

#adminTable p {
margin: 0;
}

#th{
background: #303030;
color:whitesmoke;
font-family: 'Karla', sans-serif;
padding:10px;
font-size: 17px;
border: 1px solid  #aedf04;
border-top:1px solid  #aedf04;
}

.adminBtn{
background: #303030;
  color:#F5F5F5;
  border: none;
  padding:1px;
  margin: 0 auto;
  font-family: 'Karla', sans-serif;
}

#picCol {
  width: 100px;
  height: 100px;
  padding: 0.5em;
}