.Rating{
    /* flex: 25%;
  margin: 50px 0;
  position: relative;
  display: inline-block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 50px solid transparent;
  border-bottom: 33px solid gold;
  border-left: 50px solid transparent;
  transform: rotate(35deg); */

}

.StarRating{
    margin-left:4%;
}