#h1{
    font-family: 'New Tegomin', serif;
    font-size:40px;
    margin-left:6%;

   
} 
p{
    color:blue;
} 

.product-image{

 width:550px;

}


#addCartBtn{
    margin-top:1%;
    width: 150px;
    height: 40px;
    font-family: 'New Tegomin', serif;
    background: #c44308;
    color: white;
    margin-left:5%;
    
}
#addCartBtn:hover {
    background: white;
    color:#a73500;
    border: 1px solid  #c44308;
  }



#des{
    color:black;
    font-family: "Cantarell", serif; 
    font-size:16px;
    margin-left:6%;
}

#quantityDiv{
    margin-left:5%;
}

.packaging-choices-btn{
  width:200px;
  font-size:20px;
  /* margin-bottom:1%; */
  font-family: 'New Tegomin', serif;
  margin-left:6%;
}

#packaging{
    width:150px;
    font-size:13px;
    margin-bottom:1%;
    font-family: 'New Tegomin', serif;
    margin-left:5%;
}