.forgot-login form {
    max-width: 500px;

  }

  .btn-link {
    width: 15%;

  }

  #h2{
    font-size: 15px;
  }
  .link{
    color:aquamarine
  }
  #luna{
    color:black;
    
  }

  #luna:hover{
    color:black;
    text-decoration: underline;
  }